/* font */
@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Shrikhand&display=swap');

/* général */
*{
    margin: 0;
    font-size: 16px;
    color: var(--black);
}

:root{
    --darkgrey:#252525;
    --orange:#ff7800;
    --yellow:#ffae00;
    --black:#000;
    --white:#fff;
    --Shrikhand:"Shrikhand", serif;
    --Roboto:"Roboto", sans-serif;
}

h1{
    font-size: 30px;
    font-style: italic;
    font-weight: 700;
    color: var(--black);
    font-family:var(--Shrikhand)
}

h2{
    color: var(--darkgrey);
    font-size: 24px;
    font-family:var(--Roboto);
    font-weight: 700;
}

h3{
    font-size: 18px;
    font-family: var(--Roboto);
    font-weight: 700;
    color: var(--black);
}

p{
    font-size: 15px;
    font-family:var(--Roboto);
    margin: 5px;
    color: var(--black);
    font-weight: 300;
    line-height: 1.7;
}

a{
    text-decoration: none;
    font-family: var(--Roboto);
    color: var(--black);
}

ul{
    text-decoration: none;
}

img{
    width: 100%;
    object-fit: cover;
}

/* header */
header{
    position: relative;
} 

a h1{
    padding: 15px 0;
    display: flex;
    justify-content: center;
}

.fa-bars{
    position: absolute;
    right: 15px;
    top: 25px;
}

/* body */
/* Section #Find */
#find{
    background: var(--yellow);
}

#find .professional{
    display: grid;
    /* align-items: center;
    justify-items: center; */
    padding: 30px 15px;
    text-align: center;
    gap: 15px;
}

::placeholder{
    color: var(--black);
    padding-left: 10px;
}

#choose{
    /* margin-top: 15px; */
    border-radius: 20px;
    background: var(--yellow);
    box-shadow: 0px 4px 15px 0px #00000026;
    color: var(--black);
    border: none;
    height: 34px;
}

#find button{
    box-shadow: 0px 4px 4px 0px #00000040;
    height: 35px;
    padding: 10px 15.8px 10px 16px;
    border-radius: 30px;
    background: linear-gradient(198.58deg, #FF7800 15.56%, #FFAE00 100%);
    border: none;
    width: 145px;
    position: relative;
    left: 60px;
    cursor: pointer;
}

#find .professional form{
    display: grid;
    gap: 15px;
}

#find h2{
    font-size: 22px;
}

/* #find :hover */
#find .professional form button:hover{
    transition: all 0.4s;
    transform: scale(1.02);
}
/* Section #works */
#works{
    margin: 25px 0
}

#works h2{
    padding: 0 0 20px 10px;
}

#works ul{
    text-decoration: none;
    padding: 0 15px;
}

#works ul li{
    box-shadow: 0px 4px 15px 0px #00000026;
    list-style: none;
    padding: 16px 16px 17px 10px;
    border-radius: 8px;
    position: relative;
}

#works ul li a{
    position: relative;
    left: 8px;
}

#works ul li:nth-child(1)::before{
    content:'1';
    background: var(--orange);
    color: var(--white);
    position: absolute;
    width: 23.09px;
    height: 25px;
    top: 13px;
    left: -10px;
    border-radius: 12.02px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#works ul li:nth-child(2)::before{
    content:'2';
    background: var(--orange);
    color: var(--white);
    position: absolute;
    width: 23.09px;
    height: 25px;
    top: 13px;
    left: -10px;
    border-radius: 12.02px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#works ul li:nth-child(3)::before{
    content:'3';
    background: var(--orange);
    color: var(--white);
    position: absolute;
    width: 23.09px;
    height: 25px;
    top: 13px;
    left: -10px;
    border-radius: 12.02px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* #works :hover */
/* section #chose */
#chose{
    background: var(--yellow);
    padding: 0 15px 30px;
    gap: 30px;
    display: grid;
}

#chose article{
    background: var(--white);
    border-radius: 20px;
    position: relative
}

#chose h2{
    margin-top: 20px;
}

#chose article img{
    border-radius: 20px 20px 0 0 ;
    height: 130px;
}

#chose article form{
    border-top: 1px solid var(--yellow);
    margin: 10px;
}

#chose article a{
    position: relative;
    left: 10px;
    top: 5px;
}

#chose article a p{
    margin: 0;
}

#chose article form p{
    margin: 5px 0 0 0;
}

#chose article form .contructeur{
    height: 20px;
    width: 20px;
    position: relative;
    left: 240px;
    bottom: 25px;
}

#chose article form{
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

#chose .load{
    box-shadow: 0px 4px 4px 0px #00000040;
    background: linear-gradient(194.29deg, #FF7800 15.56%, #FFAE00 100%);
    border-radius: 30px;
    padding: 10px 15.69px 10px 16px;
    display: block;
    width: fit-content;
    margin: auto;
}

#chose .new::after{
    content: 'New !';
    position: absolute;
    top: 10px;
    left: -10px;
    background: var(--orange);
    color: var(--white);
    font-family: var(--Shrikhand);
    padding: 2px 10px;
    transform: rotate(-45deg);
}

#chose .solid{
    height: 20px;
    width: 20px;
    display: none;
    cursor: pointer;
}

#chose .regular{
    height: 20px;
    width: 20px;
    cursor: pointer;
}

#thumbs-up-1:checked+label>.solid,
#thumbs-up-2:checked+label>.solid,
#thumbs-up-3:checked+label>.solid,
#thumbs-up-4:checked+label>.solid{
    display: inline-block;
}

#thumbs-up-1:checked+label>.regular,
#thumbs-up-2:checked+label>.regular,
#thumbs-up-3:checked+label>.regular,
#thumbs-up-4:checked+label>.regular{
    display: none;
}

/* #chose :hover */
#chose .load:hover{
    transition: all 0.4s;
    transform: scale(1.02);
}

/* footer */
footer div{
    background: var(--darkgrey);
}

footer article h2{
    color: var(--white);
    font-family: var(--Shrikhand);
    padding: 10px 10px;
    font-style: italic;
}

footer article ul li a{
    color: var(--white);
    font-size: 15px;
}

footer article ul{
    padding: 0 0 10px;
    /* margin: 0 0 15px 10px; */
}

footer article ul li{
    list-style-type: none;
    margin: 10px;
}

/* footer :hover */
footer article ul li a:hover{
    color: var(--orange);
}


/* Second page Foody */
/* header */
.fa-arrow-left{
    position: absolute;
    top: 25px;
}

/* body */
/* Section #smith */
#smith h2{
    margin: 15px 20px;
}

#smith .regular{
    height: 20px;
    width: 20px;
    cursor: pointer;
}

#smith .solid{
    height: 20px;
    width: 20px;
    cursor: pointer;
    display: none;
}

#smith form{
    display: flex;
    align-items: center;
    justify-content: space-between;

}

#smith form{
    border-top: 1px solid var(--orange);
    margin: 0 10px;
    padding: 5px 0;
}

/* Section #who */
#who{
    border-top: 1px solid var(--orange);
    padding: 20px 10px;
}

#who h2{
    padding-bottom: 10px;
}

/* Section #where */

#where #mexique{
    width: 100%;
    height: 256px;
}

